<h1>Link's</h1>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img ng-src="Assets/3.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://www.facebook.com">Facebook</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img ng-src="Assets/5.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://www.linkedin.com">LinkedIn</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img ng-src="Assets/4.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://twitter.com">Twitter</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label1">
        <img ng-src="Assets/6.jpg" alt="Social" />
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://www.quintpub.net">News</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="f1_card">
    <div class="front face">
      <p class="label2">
        <span class="go">G</span>
      </p>
    </div>
    <div class="back face center">
      <p class="label">
        <a href="http://google.com">Google</a>
      </p>
    </div>
  </div>
</div>

