<h1>User Detail</h1>

<form [class]="submitted?'active':''">
  <table cellspacing="2" cellpadding="2" border="0">

    <tr>
      <td align="right">Name</td>
      <td>
        <input type="text" name="userName" required [(ngModel)] = "register.userName" class="value"/>
      </td>
    </tr>

    <tr>
      <td align="right">EMail</td>
      <td>
        <input type="text" name="eMail" required [(ngModel)] = "register.eMail" class="value"/>
      </td>
    </tr>

    <tr>
      <td align="right">Zip Code</td>
      <td>
        <input type="text" name="zipCode" required [(ngModel)] = "register.zipCode" class="value"/>
      </td>
    </tr>

    <tr>
      <td align="right">Country</td>
      <td>
        <select required name="country" [(ngModel)] = "register.country" class="value">
          <option value="-1" selected>[choose yours]</option>
          <option value="1">USA</option>
          <option value="2">UK</option>
          <option value="3">INDIA</option>
        </select>
      </td>
    </tr>

    <tr>
      <td align="right"></td>
      <td>
        <input type='submit' (click)="signUp()" value="Sign Up" />
      </td>
    </tr>

  </table>
</form>
<div class='errorMsg' *ngIf="errrorMsgList">
    <span *ngFor="let errorMsg of errrorMsgList">{{errorMsg}}</span>
  </div>
